:root {
    --logo-gray: #808080;
    --logo-light-blue: #01C3E2;
    --logo-dark-blue: #056B89;
    --logo-mid-blue: #26A9C6;
    --logo-white: #ffffff;
    --site-text: #565656;
}

/* header */
.mainheader {
    height: 10vh;
    width: 100%;
    box-shadow: 0px 0px 14px 3px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--logo-white);
}

.headItem {
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.headItem a {
    text-decoration: none;
    color: var(--site-text)
}

/* nav */
.navcontainer {
    background: var(--site-text);
    width: 225px;
    height: 90vh;
    width: 20%;
}

.navcontainer a {
    text-decoration: none;
    color: var(--logo-white);
}

.navlink {
    height: 70px;
    display: flex;
    transition: .5s;
}

.navlink:hover {
    background: var(--logo-gray);
}

.navlinkicon {
    height: 70px;
    width: 60px;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlinkdesc {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
}

.nav-icon {
    width: 45px;
}

/* body */
.belowHeader {
    display: flex;
    width: 100%;
}

.rightNav {
    width: 80%;
    height: 90vh;
    overflow-y: scroll;
}

.mainbody {
    color: var(--site-text);
    width: 100%;
    padding: 20px;
    position: relative;
}

.mainbody h1 {
    font-size: 30px;
    font-weight: bold;
}

.mainbody h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.mainbody p {
    font-size: 20px;
    margin-top: 15px;
}

/* footer */
.mainfooter {
    width: 100%;
    height: 20vh;
    background: var(--logo-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--logo-white);
    padding: 25px;
}

.footerlinks {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
}

.footerlinks a {
    color: var(--logo-white);
    text-decoration: none;
}

/* home */
.homebody {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("images/home-back.png");
}

.homesplash {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    padding: 150px;
    background: rgba(0,0,0,.25);
}

.hometitle {
    color: var(--logo-white);
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px var(--logo-dark-blue);
}

.homesubtitle {
    color: var(--logo-white);
    font-size: 30px;
    text-shadow: 2px 2px var(--logo-dark-blue);
}

.testimonialcontainer {
    background: var(--logo-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    padding: 25px; 
}

.testimonialtitle {
    color: white;
    font-size: 20px;
}

.testimonialbody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.testimonialcarousel {
    background: white;
    height: 200px;
    width: 500px;
    padding: 25px;
}

.testimonialtext {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.testimonial {
    margin-top: 20px; 
}

.testimonialauthor {
    font-weight: bold;
    font-size: 20px;
}

.testimonialtext h3 {
    line-height: 20px;
}

.testimonialbutton {
    background: white;
    color: var(--logo-dark-blue);
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
    border: none;
}

.homemissioncontainer {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--site-text);
}

.homemissioncontainer div{
    font-size: 25px;
    width: 70%;
    text-align: center;
}

.homemissionaccent {
    color: var(--logo-light-blue);
}

.howcontainer {
    height: 350px;
    display: flex;
    background: var(--logo-dark-blue);
}

.howcontainer div {
    width: 50%;
}

.howimage {
    background-image: url("images/home-mid-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.howbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.howbody h1{
    color: white;
}

.howbody ul{
    color: white;
    width: 60%;
    list-style-type: disc;
}

.howbody ul li {
    margin-top: 10px; 
}

.homebookcontainer {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.homebookcontainer a {
    text-decoration: none;
}

.homebooktitle {
    color: var(--logo-dark-blue);
}

.homebooksubtitle {
    font-size: 20px;
}

.homeauthorlist {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.homebookauthor {
    font-size: 10px;
    font-style: italic;
    padding: 2px;
}

.homebooks {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.booktile {
    width: 30%;
    height: 250px;
    transition: .6s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: var(--logo-white);
}

.booktilebook {
    width: 80%;
    background-size: contain;
    height: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.booktile:hover {
    border-color: var(--logo-dark-blue);
}

.booktilesubtitle {
    font-size: 13px;
    font-style: italic;
}

.homebooks a {
    text-decoration: none;
    color: var(--site-text);
}

.homebooksbutton {
    padding: 15px;
    background: var(--logo-dark-blue);
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
}

/* books */

.booksbody {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.booklist {
    margin-top: 25px;
}

.booksearch {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.searchbar {
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
}

.searchbutton {
    background: var(--logo-dark-blue);
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
}

.bookrequest {
    margin-top: 25px;
}

.supportlink {
    text-decoration: none;
    color: var(--site-text);
    font-weight: bold;
}

.breadcrumbcontainer {
    width: 100%;
    height: 20px;
}

.breadcrumb {
    background: var(--logo-dark-blue);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}